body{
  background-color: antiquewhite;
}

.container{
  position: absolute;
  top: 300px;
  left: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  max-width: 800px;
  background-color: antiquewhite;
  width: 60%;
  height: 700px;
}

.draggable {
  touch-action: none;
  user-select: none;
  cursor: move;
  position: relative;
}

.draggable img{
  object-fit: cover;
  width: 100px;
}

.camera img{
  width: 100px;
  object-fit: cover;
}

.bottle img{
  width: 75px;
  object-fit: cover;
}

.hairclip img{
width: 75px;
object-fit: cover;
}

.candy img{
  width: 50px;
  object-fit: cover;
}

.chapstick img{
  width: 50px;
 
}

.cookie img{
  width: 50px;
  
}

.crochet img{
  width: 100px;
  
}

.crystals img{
  width: 100px;
}

.nailpolish img{
  width: 50px;
}

.smallpurse img{
  width: 250px;
}

.mymelodysticker img{
  width: 50px;
}

.fork img{
  width: 200px;
}

.pen img{
  width: 130px;
}

.dropzone {
  width: 300px;
  height: 300px;
  mix-blend-mode: multiply;
}

/* .drop-active {
  border: dashed 4px;
} */

p{
  position: absolute;
  top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  left: 50%;
}

.hidden{
  display: none;
}


/* .draggable-text {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
} */