body{
  background-color: antiquewhite;
  font-family: 'Cute Font', sans-serif;
}

h1{
  position: absolute;
  top: 5px;
  right: 20px;
}

.textcontainer{
  width: 500px;
  height: 100px;
  position: absolute;
  top: 20px;
  left: 40%;

}


.description{
  position: sticky;
  padding: 1rem;
}

.allitems{
  padding: 1rem;
  width: 500px;
}

.bagframeall{
  width: 688px;
  padding: 1rem;
}

.container{
  position: absolute;
  top: 60px;
  left: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  max-width: 800px;
  background-color: antiquewhite;
  width: 60%;
  height: 700px;
}

.draggable {
  touch-action: none;
  user-select: none;
  cursor: move;
  position: relative;
}

.draggable img{
  object-fit: cover;
  width: 100px;
}

.camera img{
  width: 120px;
  object-fit: cover;
}

.bottle img{
  width: 75px;
  object-fit: cover;
}

.hairclip img{
width: 75px;
object-fit: cover;
}

.candy img{
  width: 50px;
  object-fit: cover;
}

.chapstick img{
  width: 50px;
 
}

.cookie img{
  width: 70px;
  
}

.crochet img{
  width: 100px;
  
}

.crystals img{
  width: 70px;
}

.nailpolish img{
  width: 50px;
}

.nails img{
  width: 50px;
}

.smallpurse img{
  width: 250px;
}

.mymelodysticker img{
  width: 50px;
}

.fork img{
  width: 200px;
}

.pen img{
  width: 130px;
}

.handlotion img{
  width: 70px;
}

.hellokitty img{
  width: 70px;
}

.mirror img{
  width: 70px;
}

.dropzone {
  width: 300px;
  height: 300px;
  mix-blend-mode:darken;
  cursor: w-resize;
}

/* .drop-active {
  border: dashed 4px;
} */

p{
  position: absolute;
  top: 400px;
  font-family: 'Cute Font', sans-serif;
  font-size: 2em;
  left: 5%;
}


.hidden{
  display: none;
}

a{
  color: black;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

/* .draggable-text {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
} */

@media only screen and (max-width: 1024px) {

.container{
  position: absolute;
  top: 60px;
  left: 550px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  max-width: 800px;
  background-color: antiquewhite;
  width: 60%;
  height: 700px;
}

.textcontainer{
  width: 500px;
  height: 100px;
  position: absolute;
  top: 20px;
  left: 50%;

}

.allitems{
  padding: 1rem;
  width: 362px;
}

.bagframeall{
  width: 500px;
  padding: 1rem;
}


}
